*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
:root{
    --primary_color:rgb(237, 117, 117);
    --secondary_color:rgb(235, 55, 28);
    --ternary_color:rgb(0, 0, 0);
    --fourth_color:rgb(255,255,255);
}
.darktheme{
    --primary_color:rgb(104, 104, 104);
    --secondary_color:rgb(0, 0, 0);
    --ternary_color:rgb(255, 255, 255);
    --fourth_color:rgb(0, 0, 0);
}
#container{
    margin:auto;
    background-image: linear-gradient(to left,var(--primary_color),var(--secondary_color));
    width:100%;
    min-height: 100vh;
    padding:1.5vw;
}
.daynight{
    cursor: pointer;
    width: 4vw;
    min-width: fit-content;
    height: 4vh;
    font-weight: bolder;
    border:none;
    border-radius: 2vw;
    color:var(--fourth_color);
    background-color: var(--ternary_color);
    margin:3vh;
}
.item{
    display: flex;
}
#title{
    margin:1vw;
    color:var(--ternary_color)
}

#todo{
    min-width:fit-content;
    color:var(--ternary_color);
    border-radius:2vh;
    width:10rem;
    height:5vh;
    margin:1vw 5vh auto;
    font-size:3vh;
    background-color: var(--primary_color);
    cursor: pointer;
}
.list{
    background-color: white;
    width:100%;
    min-width: 95 %;
    max-width:max-content;
    border-radius: 2vh;
    margin:1vw;
    color: black;

}
.head{
    display: flex;
    color:black;
    font-size: 1.5vw;
    text-align: center;
    margin:1vh;
    padding:1vh;
    justify-content:space-between

}
#text{
    font-size: 1vw;
    outline:none;
    border:none;
    background-color: rgb(215, 208, 208);
    margin:0.5vw;
    border-radius: 3vw;
    padding:1em;
    width:20rem;
    
   
}
.button{
    width:3.5vw;
    height: 5vh;
    cursor: pointer;
    margin-right:1vw;
    border-radius: 2vw;
    background-color: var(--primary_color);
    font-size:2vh;
    font-weight: bold;
}
li{
    list-style: none;
    padding-left: 0.5vw;
    font-size: large;
}
.check{
    width: 2w;
    height:3.0vh;

}
.taskdiv{
    display: flex;
    margin:0.5vw;
    padding-left:1vh;
    padding-right: 1vh;
}
#cross{
    font-weight: bolder;
    border:none;
    outline:none;
    width:3rem;
    background-color: transparent;
    cursor: pointer;
}
#cross:hover{
    color:var(--secondary_color);
    
}
div span{
    display: block;
    text-align: end;
    font-weight: bolder;
    min-width: fit-content;
    padding: 0.5vh;
    font-style: italic;
    color: rgb(121, 119, 119);
}
#del{
    margin:2px 0px 0px 20vw;
    position:absolute;
    cursor: pointer; 
    font-size: 1.3vw;
    color:black;
    text-align: center;
}
.body{
   margin:2vw;
}
.external{
    display: flex;
    flex-wrap: wrap;
}